In [2]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [3]:
student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

In [4]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

In [5]:
student_marks[1][0]

'Ankit'

In [6]:
student_marks[1][1]

[41, 34, 45, 55, 63]

In [7]:
student_marks[1][1][1]

34

In [9]:
Q1.#WHO SCORED THE HIGHEST MARKS IN SUBJECT B#
for student in student_marks[1:]:
  name = student[0]
  marks_in_B = student[1][1]
  print(name,marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

In [10]:
student_with_marks_in_B = []

In [14]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    student_with_marks_in_B.append([marks_in_B,name])
    print(student_with_marks_in_B)

[[34, 'Ankit']]
[[34, 'Ankit'], [23, 'Aravind']]
[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay']]
[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan']]
[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [15]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [16]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

In [19]:
sorted(student_with_marks_in_B)[-1][1]

'Gyan'

In [20]:
sorted(student_with_marks_in_B,reverse=True)

[[82, 'Gyan'], [34, 'Ankit'], [23, 'Pranav'], [23, 'Lakshay'], [23, 'Aravind']]

In [21]:
sorted(student_with_marks_in_B,reverse=True)[0][1]

'Gyan'

In [141]:
#WHAT IS THE AVERAGE MARKS SCORED IN THE SUBJECT C?#
for student in student_marks[1:]:
  name = student[0]
  marks_in_C = student[1][2]
  print(name,marks_in_C)

Ankit 45
Aravind 34
Lakshay 13
Gyan 23
Pranav 25

In [142]:
student_with_marks_in_C =[]

In [143]:
sum1 =0
for student in student_marks[1:]:
  marks_in_C = student[1][2]
  sum1 =sum1 + marks_in_C    
  student_with_marks_in_C.append([marks_in_C])

In [144]:
student_with_marks_in_C

[[45], [34], [13], [23], [25]]

In [149]:
l = len(student_with_marks_in_C)
sum1
average =sum1/l
average

28.0